/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, nav, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, nav, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@font-face {
	font-family: "GermaniaOne";
	src: url("Font/GermaniaOne-Regular.ttf");
}

/* ----------------------------------------------- */
/* h */
/* ----------------------------------------------- */

h1, h2, h3 {
	font-family: "GermaniaOne";
}

h1 {
	font-size: 35pt;
	margin: 20px 0 0 0;
	word-wrap: break-word;
	max-width: 95%;
	text-align: center;
	
	width: 100%;
	justify-self: start;
}

h2 {
	font-size: 28pt;
	margin: 15px 0 5px 0;
	text-align: left;
}

h3 {
	font-size: 20pt;
}

main > h2, main > h3 {
	width: 100%;
	text-align: center;
}

/* ----------------------------------------------- */
/* Scroll with header on top */
/* ----------------------------------------------- */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

body > div.scroll {
	height: 100%;
	overflow-y: auto;
	width: 100%;
}

body > div.scroll > main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
}

/* ----------------------------------------------- */
/* Multi column layer */
/* ----------------------------------------------- */

main > section {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
	align-self: flex-start;
	
	width: 90%;
	max-width: 740px;
	
	padding: 0 5px;
}

section {
	margin: 15px 5px;
}

main > section.delete {
	margin: 30px 0 0 0;
	max-width: 100%;
}

/* ----------------------------------------------- */
/* Header */
/* ----------------------------------------------- */

body > header {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #084E80;

}

body > header > div.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

body > header h1 {
	order: 1;
	margin: 0;
}

body > header a.profile, body > header a.home {
	order: 0;
	margin: 5px 5px;
}

body > header a.shoppingCart, body > header a.menu {
	order: 3;
	margin: 5px 5px;
}

body > header a.profile > img:hover, body > header a.home > img:hover, body > header a.shoppingCart > img:hover, body > header a.menu > img:hover {
	filter: invert(30%);
}

body > header h1 > a, header h1 > a:link, header h1 > a:visited {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 40pt;
	text-decoration: none;
	color:chocolate;
}

body > header img {
	border-style: none;
	border-radius: 0;
	width: 40pt;
}

body > header > div.search {
	align-self: center;
	display: flex;
	justify-content: space-around;
	height: 30px;
	width: 80%;
	background-color: white;
	border-radius: 30px;
	margin: 5px 0;
}

body > header > div.search > form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

body > header > div.search > form > input:first-of-type {
	width: 90%;
	height: 90%;
	border: 0;
	border-radius: 30px 0 0 30px;
}

body > header > div.search > form > input:nth-of-type(2) {
	height: 90%;
	border: 5px;
}

body > header > div.search > form > input:nth-of-type(2):hover {
	background-color: none;
	filter: drop-shadow(0px 0px 2px black);	
}

/* ----------------------------------------------- */
/* Footer */
/* ----------------------------------------------- */

body footer {
	padding: 5px;
	
	color: white;
	text-align: center;
	background-color: #084E80;

	bottom: 0;
}

body footer > p {
	margin: 5px 0;
}

body footer > p:nth-of-type(2) {
	display: none;
}

/* Desktop */

@media screen and (min-width: 1024px) {
	body footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

	}

	body footer > p {
		margin: 0 5px;
	}

	body footer > p:nth-of-type(2) {
		display: block;
	}	
}

/* ----------------------------------------------- */
/* nav */
/* ----------------------------------------------- */

body > nav {
	align-self: flex-end;
	position: fixed;
	
	top: 45pt;
	height: 100%;

	background-color: #084E80;

}

body > nav > ul {
	display: flex;
	align-items: center;
	flex-direction: column;
	
	height: 85%;
	overflow-y: auto;
}

body > nav > ul > li {
	padding: 20px 60px;
}

body > nav > ul > li > a, body > nav > ul > li > a:visited {
	width: 100%;
	
	border: 0;
	padding: 0;
	margin: 0;
	
	font-size: 30pt;
	color: white;
	text-decoration: none;
	
	background-color: transparent;
}

body > nav > ul > li:last-of-type > a {
	color: #ff3b3b;
}

body > nav > ul > li > a:hover {
	background-color: transparent;
	color: #e4e2e2c6;	
}

body > nav > ul > li:last-of-type > a:hover {
	color: #c11e1e;
}

/* ----------------------------------------------- */
/* Notification */
/* ----------------------------------------------- */

ul.notifications > li > div img {
	cursor: pointer;
}

ul.notifications > li {
	padding: 7px;
	border-radius: 25px;
}

ul.notifications > li > div:first-of-type {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 18pt;
}

ul.notifications > li > div:first-of-type > img {
	width: 25px;
	border-radius: 30px;
	padding: 3px;
}

ul.notifications > li > div:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	margin-top: 10px;
}

ul.notifications > li > div:nth-of-type(2) > button {
	align-self: flex-end;
}

/* Admin notifications */

ul.notifications > li > div > ul > li.submit {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

ul.notifications > li > div > ul > li.submit > button {
	font-size: 20pt;
}

ul.notifications > li > div > ul > li.submit > button.reject {
	border-color: red;
}

ul.notifications > li > div > ul > li.submit > button.accept {
	border-color: green;
}

/* Notification Indicator */

img[alt="Notification"] {
	width: 12pt;
}

img#Global[alt="Notification"] {
	position: absolute;
	left: 38px;
	top: 3px;
}

img#Profile[alt="Notification"], img#Admin[alt="Notification"] {
	position: absolute;
	right: 15px;
	top: 3px;
}

nav > ul > li.notification {
	background-image: url("../../Immagini/Icone/Notification.png");
	background-size: 12pt;
	background-repeat: no-repeat;
	background-position: top 15px right 40px;
}

/* ----------------------------------------------- */
/* Element border styling */
/* ----------------------------------------------- */

img, .notifications > li, .producers > li, .products > li, .sellerProducts > li, button, li.input, .orders > li, input[type="submit"], input[type="file"], input[type="checkbox"], section[name="cart"], section.cart > section {
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	
	border-color: #084E80;
}

/* ----------------------------------------------- */
/* Buttons/inputs styling */
/* ----------------------------------------------- */

button, input {
	font-size: 13pt;
	margin: 0;
}

button {
	padding: 2px 15px;
}

button, input[type="submit"] {
	background-color: white;
	border-radius: 20px;
}

button:hover, input[type="submit"]:hover {
	background-color: #084E80;
	color: white;
	cursor: pointer;
}

button.delete {
	margin: 5px 0;
	font-weight: bold;
	font-size: 18pt;
	color: red;
	width: fit-content;
	align-self: center;
}

button.delete:hover {
	background-color: red;
	color: white;
}

button.delete:disabled, button.delete:disabled:hover {
	background-color: grey;
	cursor: auto;
	color: white;
}

/* ----------------------------------------------- */
/* Div errors */
/* ----------------------------------------------- */

strong {
	font-weight: bolder;
	font-size: 15pt;
	color: red;
}

div.errors {
	text-align: center;
	margin: 20px 0;
}

div.errors > p {
	margin-top: 5px;
}

/* ----------------------------------------------- */
/* Form */
/* ----------------------------------------------- */

form > ul {
	display: block;
}

form > ul > li.submit {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	
	margin: 15px 0 0 0;
}

form > ul > li.photoInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

form > ul > li.label {
	margin: 10px 0 5px 0;
}

form > ul > li.input {
	padding: 3px;
}

form > ul > li.checkbox {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

form > ul > li.modify {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin: 15px 0 0 0;
}

form > ul > li.checkbox > label {
	margin: 0 0 0 10px;
}

form > ul > li > img {
	width: 50%;
	height: 100%;
	padding: 10px;
}

form > ul > li > input {
	border-width: 0;
	border-radius: 0;
	padding: 0;
	
	width: 95%;
}

form > ul > li > input[name="remove"] {
	border-color: red;
}
form > ul > li > input[name="remove"]:hover {
	background-color: red;
	color: white;
}

form > ul > li > input[name="add"] {
	border-color: green;
}
form > ul > li > input[name="add"]:hover {
	background-color: green;
	color: white;
}

form > ul > li > input[type="submit"] {
	width: auto;
	border-radius: 30px;
	padding: 2px 20px;
}

form > ul > li > input[type="checkbox"] {
	width: auto;
}

form > ul > li > textarea[name="description"] {
	resize: none;
	
	width: 95%;
	height: 100px;
	
	padding: 5px;
	margin: 5px;
	border-width: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
}

form > ul > li > input[type="file"] {
	align-self: center;
	height: fit-content;
	width: fit-content;
}

form > ul > li > input[type="file"]::-webkit-file-upload-button {
	border: inherit;
	border-width: 0 2px 0 0;
	background-color: inherit;
}

/* ----------------------------------------------- */
/* SellerPage */
/* ----------------------------------------------- */

a.show {
	padding: 5px 0;
	text-align: right;

	color: #084E80;
}

button.modify, a {
	align-self: flex-end;
}

ul.products > li, ul.producers > li {
	margin: 7px 0;
	padding: 5px;

	border-radius: 15px;
}

ul.products > li > a, ul.producers > li > a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	text-align: center;
}

ul.products > li:hover, ul.producers > li:hover {
	background-color: #e4e2e2c6;
	cursor: pointer;
}

ul.products > li > a, ul.producers > li > a {
	width: 100%;
	margin: 0;
	color: black;
	text-decoration: none;
}

ul.products > li > a > img, ul.producers > li > a > img {
	width: auto;
	max-height: 250px;
	padding: 10px;
}

ul.products > li > a > div.productInfo {
	max-width: 50%;
	word-wrap: break-word;
}

ul.products > li > a > div.productInfo > ul {
	margin: 0;
}

ul.products > li > a > div.productInfo > ul > li:first-of-type {
	font-size: 20pt;
}

ul.products > li > a > div.productInfo > ul > li:nth-of-type(3) {
	margin: 10px 0 0 0;
	font-size: 15pt;
}

ul.products > li > a > div.productData {
	max-width: 30%;
	word-wrap: break-word;
}

ul.products > li > a > div.productData > ul > li {
	margin: 0 0 5px 0;
}

/* ----------------------------------------------- */
/* SellerProfile */
/* ----------------------------------------------- */

div.description {
	display: flex;
	flex-direction: column;
}

ul.sellerProducts {
	display: block;
}

ul.sellerProducts > li, ul.orders > li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 7px 0;
	padding: 5px;	
	border-radius: 30px;
	
	text-align: center;
}

ul.sellerProducts > li > div:first-of-type, ul.orders > li > div:first-of-type {
	margin: 0 20px;
}

ul.sellerProducts > li > div:first-of-type > p:nth-of-type(2), ul.orders > li > div:first-of-type > p:nth-of-type(2) {
	font-size: 12pt;
}

ul.sellerProducts > li > div:first-of-type > p:nth-of-type(2) > span:nth-of-type(2).attention {
	color: red;
}

/* ----------------------------------------------- */
/* Product Page */
/* ----------------------------------------------- */

section.addToCart, section.checkout {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	
	position: fixed;
	bottom: 67px;
	width: 100%;
	background-image: linear-gradient(180deg, transparent, white 10%);
	
	align-self: center;
}

section.addToCart > strong {
	margin-bottom: 20px;
	font-size: 20pt;
}

@media screen and (max-width: 531px) {
	section.addToCart, section.checkout {
		bottom: 66pt;
	}	
}

/* Desktop */

@media screen and (min-width: 1024px) {
	section.addToCart, section.checkout {
		bottom: 31px;
	}
}

@media screen and (min-width: 1520px) {
	section.addToCart {
		position: relative;
		bottom: -70px;
	}	
}

section.addToCart > form {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

section.addToCart > form > input {
	font-size: 18pt;
	margin: 0 10px;
}

section.overflow, ul.orders > li.overflow {
	margin-bottom: 100px;
}

/* ----------------------------------------------- */
/* Home */
/* ----------------------------------------------- */


section > ul.products > li > a > img.beerPhoto, section > ul.producers > li > a > img.breweryPhoto {
	width: auto;
	height: 250px;
}

section > ul.products > li > a > div.info-beer, section > ul.producers > li > a > div.info-brewery {
	width: 60%;
	text-align: center;
	padding: 0 30px;
}	

@media screen and (max-width: 670px) {
	section > ul.producers > li > a > div.info-brewery > ul > li > span.long-description {
		display: none;
	}	
}

@media screen and (min-width: 671px) {
	section > ul.producers > li > a > div.info-brewery > ul > li > span.short-description {
		display: none;
	}	
}

section > ul.products > li > a > div.info-beer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section > ul.products > li > a > div.info-beer > ul > li, section > ul.producers > li > a > div.info-brewery > ul > li  {
	font-size: 20pt;
}

section > ul.products > li > a > div.info-beer > ul:first-of-type > li:first-of-type, section > ul.producers > li > a > div.info-brewery > ul > li:first-of-type {
	font-size: 27.5pt;
	margin: 0;
}

section > ul.products > li > a > div.info-beer > ul:first-of-type > li:nth-of-type(2), section > ul.producers > li > a > div.info-brewery > ul > li:nth-of-type(2) {
	font-size: 17.5pt;
}

section > ul.producers > li > a > img.breweryPhotoSearch {
	width: auto;
	max-height: 250px;
}

/* ----------------------------------------------- */
/* OrderPage */
/* ----------------------------------------------- */

section > div.redo-order {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

section > div.redo-order > button {
	font-size: 20pt;
}

/* ----------------------------------------------- */
/* General */
/* ----------------------------------------------- */

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
}

ul {
	list-style: none;
}

.hidden {
	visibility: hidden;
	position: absolute;
}

:focus {
	outline: none;
}

a {
	display: inline-block;
	width: fit-content;
	color: #084E80;
}

a:visited {
	color: #084E80;
}

li.center {
	text-align: center;
}

/* ----------------------------------------------- */
/* Other General */
/* ----------------------------------------------- */

ul {
	margin: 10px 0;
}

ul > li > a {
	margin-bottom: 20px;
}

ul > li.photo {
	/* text-align: center; */
	display: flex;
	flex-direction: column;
}

ul > li {
	margin-bottom: 15px;
}

section > ul > li > img {
	display: block;
	padding: 5px;
	width: auto;
	max-height: 500px;
	max-width: 90%;

	align-self: center;
}

ul > li > p:first-of-type, ul > li > span:first-of-type {
	font-weight: bold;
}

section > div.registration {
	margin-bottom: 30px;
	text-align: center;
}

/* ----------------------------------------------- */
/* Shopping Cart */
/* ----------------------------------------------- */

main > section.cart {
	max-width: 85%;
	display: flex;
	justify-content: start;
	flex-direction: row;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

section.cart > section {
	width: 400px;
	/* width: 100%; */
	border-radius: 30px;
	border-width: 3px;
	display: flex;
	flex-direction: row;
	padding: 5px;
	/* max-width: 600px; */
	margin: 10px 7px;
	/* justify-content: space-between */
}

section.cart > section > div.del > div.changeQuantity > img.add, section.cart > section > div.del > div.changeQuantity > img.remove {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

section.cart > section > div.del > div.changeQuantity > img.add{
	border-color: green;
}

section.cart > section > div.del > div.changeQuantity > img.remove {
	border-color: red;
}

section.cart > section > div.del, section.cart > section > div.del > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}

section.cart > section > div.del > div, section.cart > section > div.del div.changeQuantity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

section.cart > section > div.del ul.productInfo {
	text-align: center;
	margin: 0;
}

section.cart > section > div.del ul.productInfo > li:first-of-type > a {
	margin-bottom: 10px;
}

section.cart > section > div.del ul.productInfo > li:first-of-type {
	font-size: 18pt;
	margin: 0;
}

section.cart > section > div.del ul.productInfo > li:last-of-type {
	font-size: 12pt;
}

section.cart > section > div.del div.changeQuantity {
	justify-content: space-around;
}

section.cart > section > img.beerPhoto {
	width: auto;
	max-width: 250px;
	height: 250px;
	border-radius: 30px;
}

section.cart > section > div.del {
	width: 70%;
}

section.cart > section > img.delete {
	width: 30px;
	margin: 5px 5px 0 0;
	border-radius: 10px;
	height: 100%;
}

section.cart > section > div.del > p {
	text-align: center;
	margin-top: 10px;
}

section.cart > section > div.del div.changeQuantity > img.add:hover, section.cart > section > div.del div.changeQuantity > img.remove:hover, section.cart > section > img.delete:hover {
	background-color: #e4e2e2c6;
}

/*------------------------*/

section.checkout {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;

	font-size: 18pt;
	padding: 20px 0;
}

section.checkout > ul {
	margin: 0;
}

section.checkout > ul > li {
	margin: 10px 0;
	display: flex;
}

section.checkout > button {
	font-size: 18pt;
}

@media screen and (min-width: 1749px) {

	main > section.contaisCheckout {
		width: fit-content;
	}
	
	section.checkout {
		width: fit-content;

		flex-direction: column;
		
		background-image: linear-gradient(180deg, transparent, transparent 10%);;
		
		position: static;
		right: 0;
		top: 100px;
		
		margin: 0 2% 0 10px;
		padding: 0;
	}

	section.checkout > ul > li {
		flex-direction: column;
		text-align: center;
	}
}

/* ----------------------------------------------- */
/* CheckOut Address */
/* ----------------------------------------------- */

section.address > div.modifyaddress > button.modify {
	width: 100%;
}

section.address > div.backnforward {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}

h2.checkout {
	align-self: center;
}

section.checkoutOrder > div.payment	{
	padding-top: 10px;
	margin-bottom: 20px;
	
	display: flex;
	justify-content: space-between;
}

section.checkoutOrder > div.modifyOrder {
	display: flex;
	flex-direction: column;
}

section.finalCheckout > ul > li:hover {
	background-color: white;
}

section.checkout > p {
	align-self: center;
	order: 1;
	margin: 0 30px 0 0;
	font-size: 24pt;
}

section.checkout > button.conclude {
	order: 2;
}

section.checkout > div.finalize {
	width: 100%;
	display: flex;
	justify-content: space-around;
	
}

section.checkout > button {
	font-size: 18pt;
}

@media screen and (min-width: 1749px) {

	section.checkout > p {
		order: 0;
		margin-bottom: 30px;
	}

	section.checkout > button {
		margin: 10px;
	}
}